@font-face {
    font-family:OpenSans;
    src:url('./fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family:Righteous-Regular;
    src:url('./fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family:Jersey15;
    src:url('./fonts/Jersey15-Regular.ttf') format('truetype');
}

@font-face {
    font-family:Rozha;
    src:url('./fonts/RozhaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family:Platypi;
    src:url("./fonts/Platypi-VariableFont_wght.ttf") format('truetype');
}

body {
    all: unset;
    position:relative;
}

a{
    all:unset;
}

h1,h2,h3,h4,h5{
    all: unset;
}

